body {
  font-family: Verdana;
  text-align: center;
  background-color: black;
}
.heading {
  color: white;
}
h1 {
  font-weight: normal;
  font-size: 50px;
}
h2 {
  font-weight: 300;
  font-size: 42px;
}
.coming-soon {
  color: Aquamarine;
  font-size: 16px;
  text-decoration: underline;
}
.gray {
  color: Gray;
  font-size: 21px;
}
#copyright {
  color: Gray;
  text-align: right;
}
